canvas {
  width: 100% !important;
  height: 100vh !important;
}

/* -------------------------------- */

.sec3 {
  visibility: visible;
  opacity: 1;
  background-color: var(--color_background);
  z-index: 20;
}

.main_client {
  display: flex;
}

.main_client > .client_circle_wrap01 {
  width: 50%;
  position: relative;
  z-index: 5;
}

.main_client > .client_circle_wrap02 {
  width: 50%;
  position: relative;
  z-index: 5;
}

.main_client_tit {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50vw;
  transform: translate(-50%, -50%);
  line-height: 1.1;
  text-align: center;
  max-width: 100%;
  box-sizing: border-box;
}

.main_client_tit span {
  font-size: 2em; /* 4vw -> em */
  font-weight: 700;
  color: var(--color_white);
}

/* 부모 컨테이너 스타일 설정 */
.sec3 .main_client_wrap {
  position: relative;
  width: 100%;
}

/* 내부 컨테이너 스타일 설정 */
.sec3 .main_client_wrap > .cont_pc {
  display: block;
}

/* 스크롤 매직 스타일 설정 */
.sec3 .main_client_wrap > .cont_pc > .scrollmagic-pin-spacer {
  inset: auto;
  margin: 0;
  display: block;
  position: relative;
  box-sizing: content-box;
  width: 100%;
  height: 120vh;
}

/* 메인 클라이언트 스타일 설정 */
.sec3 .main_client_wrap > .cont_pc > .scrollmagic-pin-spacer > .main_client {
  position: absolute;
  /*여길 fixed로 설정 했었는데 그래서 포지션이 겹치다 보니까 스크롤했을 때 페이지가 굉장히 이상해짐*/
  margin: auto;
  inset: -1.25em auto auto 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.sec3 .main_client_wrap > .cont_pc > .scrollmagic-pin-spacer > .main_client.relative {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* 원(circle) 래퍼 스타일 설정 */
.client_circle_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
}

/* 개별 원(circle) 스타일 설정 */
.client_circle_wrap > .client_circle {
  position: absolute;
  top: 50%;
  left: 50vw;
  transform: translate(-50%, -50%);
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

/* 원(circle)의 위치 조정 */
.client_circle_wrap > .client_circle.client01 {
  margin: calc(100vh * -0.3) 0 0 calc(50vw * -0.65); /* vw 대신 50vw 사용 */
}

.client_circle_wrap > .client_circle.client02 {
  margin: calc(100vh * -0.2) 0 0 calc(50vw * -0.3); /* vw 대신 50vw 사용 */
}

.client_circle_wrap > .client_circle.client03 {
  margin: 0 0 0 calc(100vw * -0.35);
}

.client_circle_wrap > .client_circle.client04 {
  margin: calc(100vh * 0.16) 0 0 calc(100vw * -0.21);
}

.client_circle_wrap > .client_circle.client05 {
  margin: calc(100vh * 0.28) 0 0 calc(100vw * -0.37);
}

.client_circle_wrap > .client_circle.client06 {
  margin: calc(100vh * -0.28) 0 0 calc(100vw * -0.25);
}

.client_circle_wrap > .client_circle.client07 {
  margin: calc(100vh * -0.1) 0 0 calc(100vw * -0.12);
}

.client_circle_wrap > .client_circle.client08 {
  margin: calc(100vh * 0.33) 0 0 calc(100vw * -0.33);
}

.client_circle_wrap > .client_circle.client09 {
  margin: calc(100vh * 0.25) 0 0 calc(100vw * -0.18);
}

.client_circle_wrap > .client_circle.client010 {
  margin: calc(100vh * 0.03) 0 0 calc(100vw * -0.27);
}

/* 원(circle) 아이템 스타일 설정 */
.client_circle_wrap > .client_circle > .circle_item {
  position: relative;
  display: block;
}

/* 원(circle) 스타일 설정 */
.client_circle_wrap > .client_circle > .circle_item .circle {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw * 0.06); /* 뷰포트 너비의 6% */
  height: calc(100vw * 0.06); /* 뷰포트 너비의 6% */
  font-size: calc(100vw * 0.0175); /* 뷰포트 너비의 1.75% */
  font-weight: 700;
  border-radius: 50%;
  border: 2px dashed var(--color_white);
  color: var(--color_white);
  filter: grayscale(100%);
  opacity: 0.2;
  scale: 0.8;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.client_circle_wrap > .client_circle.client01 > .circle_item > .circle {
  width: 12.125em;
  height: 12.125em;
  @media screen and (max-width : 480px) {
    width: 24em; height: 24em;
  }
}

.client_circle_wrap > .client_circle.client02 > .circle_item > .circle {
  width: 13.125em;
  height: 13.125em;
  @media screen and (max-width : 480px) {
    width: 26em; height: 26em;
  }
}

.client_circle_wrap > .client_circle.client03 > .circle_item > .circle {
  width: 12em;
  height: 12em;
  @media screen and (max-width : 480px) {
    width: 24em; height: 24em;
  }
}

.client_circle_wrap > .client_circle.client04 > .circle_item > .circle {
  width: 8.875em;
  height: 8.875em;
  @media screen and (max-width : 480px) {
    width: 16em; height: 16em;
  }
}

.client_circle_wrap > .client_circle.client05 > .circle_item > .circle {
  width: 12em;
  height: 12em;
  @media screen and (max-width : 480px) {
    width: 24em; height: 24em;
  }
}

.client_circle_wrap02 > .client_circle.client06 > .circle_item > .circle {
  width: 12em;
  height: 12em;
  @media screen and (max-width : 480px) {
    width: 24em; height: 24em;
  }
}

.client_circle_wrap02 > .client_circle.client07 > .circle_item > .circle {
  width: 8.875em;
  height: 8.875em;
  @media screen and (max-width : 480px) {
    width: 16em; height: 16em;
  }
}

.client_circle_wrap02 > .client_circle.client08 > .circle_item > .circle {
  width: 8.875em;
  height: 8.875em;
  @media screen and (max-width : 480px) {
    width: 16em; height: 16em;
  }
}

.client_circle_wrap02 > .client_circle.client09 > .circle_item > .circle {
  width: 12em;
  height: 12em;
  @media screen and (max-width : 480px) {
    width: 24em; height: 24em;
  }
}

.client_circle_wrap02 > .client_circle.client010 > .circle_item > .circle {
  width: 12em;
  height: 12em;
  @media screen and (max-width : 480px) {
    width: 24em; height: 24em;
  }
}

.client_circle_wrap > .client_circle > .circle_item > .circle:hover {
  opacity: 1;
  scale: 1;
}

.client_circle_wrap .circle_item > .circle > img{
  width: 5em;
  @media screen and (max-width : 480px) {
    width: 8em;
  }
}

.client_circle_wrap .circle_item > .circle > img.hide {
  display: none;
}

.client_circle_wrap .circle_item > .circle > .screen_out {
  display: inline-block;
}

.client_circle_wrap .circle_item > .circle > .screen_out.hide {
  display: none;
}

.client_circle_wrap .circle_item > .circle > .progress {
  font-size: 1.5em; /* 36px -> em */
  display: inline-block;
  transform: rotateY(180deg);
}

.client_circle_wrap .circle_item > .circle > .progress.hide {
  display: none;
}

/*  */

.box1 {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* ---------------------------------- */

.box2 {
  display: inline-block;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 100;
  background-image: url(../assets/img/layered-peaks-haikei.svg);
}

/* --------------- sec4 ----------------- */



/* --------------- sec6 ----------------- */

/* CSS 수정 */
.sec6 {
  width: 100%;
  margin-top: 6.25em; /* 10vh -> em */
  position: relative;
}

.sec6.hide-cursor {
  cursor: none; /* 커서 숨기기 */
}

.mouse-follower {
  width: 3.125em; /* 50px -> em */
  height: 3.125em; /* 50px -> em */
  position: fixed; /* fixed로 변경하여 viewport 내에서 움직이도록 설정 */
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* 다른 요소 위에 나타나도록 설정 */
}

.mouse-follower > img {
  width: 100%;
  height: 100%;
}

.sec6 > article {
  max-width: 1620px; /* 1620px -> em */
  overflow-x: hidden;
  margin: 0 auto;
}

.sec6_tit {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 1.75em; /* 28px -> em */
}

.sec6_tit > h2 {
  display: inline-block;
  font-size: 5em; /* 80px -> em */
  font-weight: 900;
  color: var(--color_white);
  letter-spacing: -0.1em; /* 0.25vw -> em */
  line-height: 0.81;
  text-align: left;
}

.sec6_tit > span {
  display: block;
  width: calc(100% - 25em); /* 430px -> em */
  height: 0.0125em; /* 0.2vh -> em */
  background-color: var(--color_white);
}

.clone_mockUp_wrap{
  width: 100%;
}

.swiper-slide>figure{
  width: 100%;
  background-color: var(--color_background);
}

.project_img{
  width: 100%; height: auto;
  object-fit: fill;
}

/* sec6 css 다시 작성해야함 */

/* --------------- sec7 ----------------- */

.sec7 {
  width: 100%;
  margin: 15.625em 0; /* 25vh -> em */
}

.sec7 > .sec7_inner {
  max-width: 1620px; /* 1620px -> em */
  width: 100%;
  height: 62.5em; /* 100vh -> em */
  overflow-x: hidden;
  margin: 0 auto;
}

.sec7_tit {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 1.75em; /* 28px -> em */
}

.sec7_tit > h2 {
  display: inline-block;
  font-size: 5em; /* 80px -> em */
  font-weight: 900;
  color: var(--color_white);
  letter-spacing: -0.1em; /* 0.25vw -> em */
  line-height: 0.81;
  text-align: left;
}

.sec7_tit > span {
  display: block;
  width: calc(100% - 27em); /* 430px -> em */
  height: 0.0125em; /* 0.2vh -> em */
  background-color: var(--color_white);
}

.toy_project_slide_set {
  width: 100%;
  position: relative;
  display: block;
}

.slide_img_set {
  width: 100%;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  opacity: 1;
  width: 176.25em; /* 2820px -> em */
}

.item {
  width: 80em; /* 1280px -> em */
  height: 41.25em; /* 660px -> em */
  position: relative;
  left: 0;
  top: 0;
  z-index: 999;
  opacity: 1;
  background-color: antiquewhite;
}

.slide_text_set {
  display: inline-block;
  margin: 0 0 -1.875em -7.875em; /* 0 0 -30px -126px -> em */
  width: 30em; /* 480px -> em */
  height: 35em; /* 560px -> em */
  text-align: left;
  vertical-align: bottom;
  background: linear-gradient(-135deg, transparent 60px, var(--color_background) 0) top right;
  position: absolute;
  bottom: -3.5em; /* 56px -> em */
  right: 0;
  z-index: 10000;
}

.slide_text_set .text_box {
  width: 80%;
  height: 31.25em; /* 500px -> em */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--color_white);
  margin: 0 auto;
}

.tit_deco {
  font-size: 1.25em; /* 20px -> em */
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--color_gray);
}

.tit {
  font-size: 2.2em; /* 2.2vw -> em */
  font-weight: 900;
}

.cont {
  width: 100%;
  text-align: left;
  font-size: 1.125em; /* 18px -> em */
  margin-top: 3.5em; /* 56px -> em */
}

.btn_wrap {
  width: 18.75em; /* 300px -> em */
  height: 3.125em; /* 50px -> em */
  display: flex;
  justify-content: space-between;
  margin-top: 5em; /* 80px -> em */
}

.btn_wrap > button {
  cursor: pointer;
  width: 7.5em; /* 120px -> em */
  height: 2.5em; /* 40px -> em */
  border: 0.125em solid var(--color_gray); /* 2px -> em */
  border-radius: 2.5em; /* 40px -> em */
  color: var(--color_gray);
  font-weight: 700;
}

/* ending */

footer {
  width: 100%;
  height: 62.5em; /* 100vh -> em */
  position: relative;
  color: var(--color_white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9.375em; /* 150px -> em */
}

footer > .left_txt_box {
  display: flex;
  flex-direction: column;
  gap: 18vh;
}

footer .thx_txt {
  font-size: 6em; /* 6vw -> em */
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

footer .thx_txt > li:nth-child(2) {
  color: var(--color_main);
}

footer .deco_txt {
  display: flex;
  gap: 3.5em; /* 56px -> em */
}

.credit_deco, .time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.credit_deco > h4, .time > h4 {
  color: var(--color_gray);
  font-weight: 700;
}

.credit_deco > p, .time > p {
  font-size: 1.5em; /* 1.5vw -> em */
  font-weight: 900;
}

.contact_me_txt > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1.4em; /* 1.4vw -> em */
}

.contact > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sec7_scroll {
  position: relative;
  display: flex;
  margin-bottom: 1.875em; /* 3vh -> em */
}

.sec7_scroll > .sec7_scroll_main_txt {
  font-weight: 900;
}

.sec7_scroll .sTxtDeco {
  position: absolute;
  right: 0;
  font-size: 0.75em; /* 12px -> em */
}

.scroll_text.sec7_scroll > .arrow > img {
  width: 3.125em; /* 50px -> em */
  height: 3.125em; /* 50px -> em */
  position: absolute;
  right: -3.4375em; /* 55px -> em */
  top: 2.5em; /* 40px -> em */
}

.right_txt_box .back_to_sec ul {
  display: flex;
  justify-content: space-between;
}

.right_txt_box .back_to_sec ul > li {
  cursor: pointer;
}

/*  */

.btn_wrap {
  width: 100%;
  gap: 2.5em; /* 40px -> em */
  justify-content: space-between;
}

.btn_wrap > .public_btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11.25em; /* 180px -> em */
  height: 3.75em; /* 60px -> em */
  border: 0.125em solid var(--color_gray); /* 2px -> em */
  background-color: transparent;
  border-radius: 2.5em; /* 40px -> em */
  color: var(--color_gray);
  font-size: 1.125em; /* 18px -> em */
  font-weight: 700;
}

.btn_wrap > .public_btn:hover {
  color: var(--color_white);
  font-weight: 900;
  background-color: var(--color_main);
}

@media screen and (max-width: 480px) {

  .sec3 .main_client_wrap > .cont_pc > .scrollmagic-pin-spacer {
    height: auto;
    min-height: 195vh; /* 1149px -> em */
  }

  .btn_wrap > .public_btn {
    width: 7.5em; /* 120px -> em */
    height: 2.5em; /* 40px -> em */
  }
}
