* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    text-align: center;
}

section{
    position: relative;
}

section>article{
    width: 100%; 
    overflow: hidden;
}

section>article>.main{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

#svg1{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 50%;
    background-color: #0a0a0a;
    overflow: hidden;
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#svg2{
    position: absolute;
    bottom: 0; left: 0;
    width: 100%; height: 50%;
    background-color: #0a0a0a;
    overflow: hidden;
    z-index: 30;
    display: block;
}

.tit_wrap_sec{
    width: 100%; height: 100vh;
    background-color: #0a0a0a;
}

.tit_wrap_sec>.tit_wrap {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    position: relative;
    z-index: 15;
}

.tit_wrap_sec>.tit_wrap > .tit {
    width: 100%;
    margin: 120px 0 100px 0;
}

.tit_wrap_sec>.tit_wrap > .tit > h2{
    font-size: 4vw;
    font-weight: 900;
    color: #fff;
}

.tit_wrap_sec>.tit_wrap > .tit > h2 > span{
    color: #E56A4E;
}

.tit_wrap_sec>.tit_wrap #Scrolltn{
    cursor: pointer;
    width: 300px; height: 100px;
    border: 2px solid #7d7d7d;
    border-radius: 60px;
    background-color: transparent;
    margin: 0 auto 60px auto;
}

.tit_wrap_sec>.tit_wrap #Scrolltn > span{
    font-size: 36px;
    font-weight: 700;
    color: #7d7d7d;
    line-height: 100px;
}

.tit_wrap_sec>.tit_wrap #Scrolltn:hover{
    border: none;
    background-color: #E56A4E;
}

.tit_wrap_sec>.tit_wrap #Scrolltn:hover > span{
    font-weight: 900;
    color: #fff;
}

.BgImg1 > img{
    filter: grayscale(100%);
    position: absolute;
    top: -45%; left: -20%;
    z-index: 14;
}

.BgImg2 > img{
    filter: grayscale(100%);
    position: absolute;
    top: 25%; left: 0;
    z-index: 1;
}

.BgImg3 > img{
    filter: grayscale(100%);
    position: absolute;
    bottom: -40%; right: -4%;
    z-index: 1;
}

